.picker {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 465px;
}
.input {
    background-color: cornflowerblue;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.choose_day {
    display: flex;
    flex-wrap: wrap;
}
.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 50px;
    background-color: burlywood;
    margin: 5px;
}
.day.names {
    background-color: #ff9719;
}
.day.active {
    font-weight: bold;
    background-color: #de9948;
}