.picker {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.input {
    background-color: cornflowerblue;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.modal {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.choose_day {
    display: flex;
    flex-wrap: wrap;
}
.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 50px;
    background-color: burlywood;
    margin: 5px;
}